@font-face{
    src: url('../fonts/OpenSans-Regular.ttf');
    font-family: 'OpenSans-Regular';
}

.body{
    min-height: 100%;
    font-family: 'OpenSans-Regular';
    background-size: cover; 
    background : linear-gradient(0deg,rgba(52,152,219,0.5),rgba(52,152,219,0.5)),url("../img/header-bg.png");
}

div.container-wrapper-fluid{
    margin: 50px 20px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    padding : 20px 10px;
    z-index: 55; 
}

.container-wrapper{
    margin-top: 100px;
	max-width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    padding : 65px 55px 50px;
    z-index: 55;
}

.form-title{
	display: block;
    font-family: 'OpenSans-Regular';
    font-size: 30px;
    color: #555555;
    line-height: 1.2;
    text-align: center;
    margin-top: 0;
}

div.no-bd-top{
    border-top: none;
}

.input-wrapper{
	width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #e6e6e6;
}
.inputclass{
    outline: none;
    border: none;
    display: block;
    width: 100%;
    background: transparent;
    font-family:'OpenSans-Regular';
    font-size: 15px;
    color: #666666;
    line-height: 1.2;	
    height: 68px;
    padding: 0 25px 0 25px;
}

.container-button{
    margin-top: 20px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.button-class{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    background-color: #3498db;
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.button-class-regis{
      display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: #3498db;
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;  
}

button{
    outline: none !important;
    border: none;
    background: transparent;
}

