@font-face{
	src : url('../fonts/BebasNeue.otf');
	font-family: 'Bebas-Neue';
}

@font-face{
	src : url('../fonts/Montserrat.ttf');
	font-family: 'Montserrat';
}

@media screen and (max-width: 768px){

	.overlay>.header-logo{
		width: 55vw;
	}

	.navbar-default .navbar-nav>li>a{
		text-align: center;
	}

	ul.navbar-nav > li:hover{
		border-top-color: transparent !important;
	}

	ul.navbar-nav >li.active{
		border-top-color: transparent !important;
		transition: all ease .3s;	
		background-color: transparent;
	}

	.overlay-text>.header-title{
		font-size: 25px;
	}

	.overlay-text>.header-description{
		font-size: 18px !important;
	}
	
	.container-divider{

	}

	.about .row-about{
		padding: 0 20px;
	}

	.about .text-left{
		font-size: 2.3em;
		margin-top: 30px;
	}

	.row-about .about-description{
		font-size: 1em;
	}

	.organizer-logo{
		max-width: 50%;
	}

}

@media screen and (max-width:480px){
	.overlay>.header-logo{
		width: 77vw;
	}

	.overlay-text>.header-title{
		font-size: 20px;
	}

	.overlay-text>.header-description{
		font-size: 14px;
	}

	.about .row-about,.organizer .row-about{
		padding: 0 10px;
	}

	.organizer-logo{
		max-width: 100%;
	}

} 

@media screen and (max-width: 430px){
	.container-button .btn-custom{
		width: 100%;
		margin-bottom: 10px;
	}
}

.navbar-default{
	background-color: #ffffff;
	font-family: 'Bebas-Neue';
	font-size: 1.5em;
}

.navbar-default .navbar-nav>li>a{
	color: rgb(0,0,0);
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active{
	color: #2386c9;
	transition: all ease .3s;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	color: #2386c9;
	transition: all ease .3s;	
	background-color: transparent;
}

ul.navbar-nav > li{
	padding: 0.3em;
    border: 5px solid transparent;
    border-left: none;
    border-right: none;
}

ul.navbar-nav > li:hover{
	border-top-color: #2386c9;
	transition: all ease .3s;
}

ul.navbar-nav >li.active{
	border-top-color: #2386c9;
	transition: all ease .3s;	
	background-color: transparent;
}

.navbar-brand{
	height: auto;
	padding: 8px 0;
	position: relative;
}

ul.navbar-nav > li {
	padding: 0.3em;
}

.header{
	margin-top: 20px;
	padding: 0;
	height: 650px;
	background-image: url('../img/header-bg.png');
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.header-logo{
	z-index: 2;
	width: 40vw; 
	height: auto;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}

.overlay{
	height: 100%;
	width:100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
	position: relative;
}

.header-title{
	font-family: 'Montserrat';
	color: #ffffff;
	font-weight: 900;
}

.header-description{
	font-family: 'Montserrat';
	color: #ffffff;
	font-weight: 200;
}

.container-button{
	max-width:300px;
	margin: 20px auto;
}

.overlay-text{
	text-align: center;
	margin: 0;
	padding: 0;
	top: 77%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	z-index: 3;
}

.btn-custom{
	border-radius: 0 !important;
	width: 105px;
	font-family: 'Bebas-Neue';
	padding: 0.2em;
	font-size: 1.7em;
}

.about{
	min-height: 700px;
}

.title-about{
	margin-top: 40px;
	font-family: 'Montserrat';
	color: #2386c9;
	font-weight: 800;
	font-size: 2.3em;
}

.color-black{
	color: black;
}

.color-white{
	color: #ffffff;
}

.small-title-about{
	margin-top: 0;
	font-family: 'Montserrat';
	font-weight: 200;
}

.row-about{
	margin-top: 40px;
	padding: 0 50px;
}

.about-description{
	font-family: 'Montserrat';
	font-size: 1.3em;
	text-align: justify;
}

.Logo-about-description{
	font-family: 'Montserrat';
	font-size: 1.5em;
	font-weight: 600;
}

.text-left{
	margin-top: 50px;
	font-family: 'Montserrat';
	color: #2386c9;
	font-weight: 800;
	font-size: 3em;
}

.text-left-description{
	margin-top: 50px;
	font-family: 'Montserrat';
	color: rgb(0,0,0);
	font-weight: 800;
	font-size: 0.7em;
}

.faq{
	background-image: url('../img/faq-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 550px;
	background-attachment: fixed;
}

.faq-title{
	margin-top: 50px;
	font-family: 'Montserrat';
	color: #ffffff;
	font-weight: 800;
	font-size: 2.3em;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
 }

 .panel{
 	font-family: 'Montserrat';
 }

 .panel-default>.panel-heading {
    color: #737373;
    background-color: #ffffff;
}

.arrow{
	float:right;height: 20px;
}

.rotate{
	 -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);

}

.panel-group{
	margin-bottom: 40px;
}

.sponsors{
	min-height: 600px;
}

.img-wrapper{
	margin-bottom: 20px;
}

.contact{
	min-height: 450px;
	background-color: #2386c9;
}

.container-divider{
	margin-bottom: 30px;
	color: #ffffff;
	font-size: 1.5em;
}

.left-20{
	margin-left: 20px;
}

.organizer{
	min-height: 450px;
}

.organizer-logo{
	max-width: 40%;
}

.footer{
	padding: 10px;
	background-color: #4c4c4c;
	font-family: 'Montserrat';
	color: #ffffff;
}